<footer class="text-muted py-5">
  <div class="container">
    <div class="d-flex my-1 justify-content-between">
      <h5 class="col-6 my-auto">{{ admin }}</h5>

      <div class="d-flex col-6">
        <input
          class="form-control"
          type="text"
          id="user"
          #user
          placeholder="change User by BehaviorSubject"
        />
        <button
          class="btn btn-success mx-2"
          (click)="handleChangeUser(user.value)"
        >
          change Admin
        </button>
      </div>
    </div>
    <p class="mb-0 mt-3 text-center">This is footer</p>
  </div>
</footer>
