<div class="row">
  <div class="col-4">
    <ul class="list-group">
      <!-- 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
       -->
      <li
        class="list-group-item"
        routerLinkActive="active"
        *ngFor="let user of users; let i = index"
      >
        <!-- Relative Path ./ (appends the link to the current url)-->
        <!-- <a routerLink="./{{ user.id }}">{{ i + 1 }} {{ user.name }}</a> -->

        <!-- Absolute Path / (appends the link to the current url)-->
        <a routerLink="{{ user.id }}" class="text-decoration-none"
          >{{ i + 1 }}. {{ user.name }}</a
        >

        <!-- Parent Path ../ (takes to root)-->
        <!-- <a routerLink="../">Simplilearn</a> -->
      </li>
    </ul>
  </div>
  <div class="col-8 px-5">
    <router-outlet></router-outlet>
  </div>
</div>
