<div class="card">
  <h5 class="card-title" *ngIf="userDetails == undefined">Select an user</h5>
  <div class="card-body" *ngIf="userDetails != undefined">
    <h5 class="card-title">{{ userDetails.name }}</h5>
    <table class="table">
      <tr>
        <th>Id</th>
        <td>{{ userDetails.id }}</td>
      </tr>
      <tr>
        <th>Name</th>
        <td>{{ userDetails.name }}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ userDetails.email }}</td>
      </tr>
      <tr>
        <th>Gender</th>
        <td>{{ userDetails.gender }}</td>
      </tr>
      <tr>
        <th>Address</th>
        <td>
          {{ userDetails.address | json }}
        </td>
      </tr>
    </table>
    <a
      [routerLink]="['/posts']"
      [queryParams]="{ userId: userDetails.id }"
      class="card-link"
      >view posts</a
    >
  </div>
</div>
