<h1 class="my-3">Reactive Forms!</h1>

<div class="d-flex">
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" class="col-8">
    <div class="mb-3">
      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="email-id"
          placeholder="name@example.com"
          formControlName="email"
        />
        <label for="email-id">Email address</label>
      </div>
      <p *ngIf="email.pending" class="px-1">Checking the uniqueness...</p>
      <div
        class="alert alert-danger"
        *ngIf="
          reactiveForm.get('email').touched && reactiveForm.get('email').invalid
        "
      >
        <p *ngIf="email.errors.needed">Email field is needed</p>
        <p *ngIf="email.errors.unique">Email field not unique</p>
        <!-- <p *ngIf="email.errors.required">Email field is required</p> -->
        <!-- <p *ngIf="email.errors.minlength">
          Email must have at-least
          {{ email.errors.minlength.requiredLength }} characters
        </p>
        <p *ngIf="email.errors.maxlength">
          Email must not exceed 20 characters
        </p>
        <p *ngIf="email.errors.pattern">Invalid Email</p>
        <p *ngIf="email.errors.email">Invalid Email Pattern</p> -->
      </div>
    </div>
    <div class="form-floating mb-3">
      <select
        class="form-select"
        id="floatingSelect"
        formControlName="language"
        aria-label="Floating label select example"
      >
        <option *ngFor="let language of languages" [value]="language">
          {{ language }}
        </option>
      </select>
      <label for="floatingSelect">Select your language</label>
    </div>

    <ng-container formGroupName="technologies">
      <div
        class="form-check form-check-inline"
        *ngFor="let technology of pgTechnologies; index as i"
      >
        <input
          class="form-check-input"
          type="checkbox"
          id="{{ technology | lowercase }}"
          [value]="technology"
          formControlName="{{ technology | lowercase }}"
        />
        <label class="form-check-label" for="{{ technology | lowercase }}">{{
          technology
        }}</label>
      </div>
    </ng-container>

    <div class="form-group mb-3">
      <div class="form-check form-check-inline" *ngFor="let gender of genders">
        <input
          class="form-check-input"
          type="radio"
          id="{{ gender | lowercase }}"
          formControlName="gender"
          [value]="gender"
        />
        <label class="form-check-label" for="{{ gender | lowercase }}">{{
          gender
        }}</label>
      </div>
    </div>

    <div class="row" formGroupName="address">
      <div class="col-4">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="city"
            placeholder="city"
            formControlName="city"
          />
          <label for="city">City</label>
        </div>
      </div>
      <div class="col-4">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="street"
            placeholder="street"
            formControlName="street"
          />
          <label for="street">Street</label>
        </div>
      </div>
      <div class="col-4">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="zipcode"
            placeholder="zipcode"
            formControlName="zipcode"
          />
          <label for="zipcode">Zipcode</label>
        </div>
      </div>
    </div>

    <div
      class="form-floating clearfix d-flex my-3"
      formArrayName="hobbies"
      *ngFor="let hobby of hobbies.controls; index as i"
    >
      <input
        type="text"
        class="form-control"
        [id]="i"
        placeholder="Enter Hobby"
        [formControlName]="i"
      />
      <label [for]="i">Enter your hobby</label>
      <i
        class="bi bi-trash col-2 fs-3 my-auto text-center text-danger pe-cursor"
        (click)="removeHobby(i)"
      ></i>
    </div>

    <div class="lead clearfix my-3">
      <strong class="px-2">Add Hobby</strong>
      <i
        class="bi bi-plus-square float-end col-2 text-center text-success pe-cursor"
        (click)="addHobby()"
      ></i>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary w-100 btn-block my-3">
      submit
    </button>
    <!--  -->
  </form>
  <div class="col-4 px-5">
    <pre>{{ reactiveForm.value | json }}</pre>
  </div>
</div>
